<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>FAQ</title>
</head>
<body>
    <div class="container">
        <h2>Frequently Asked Questions (FAQ)</h2>

        <div class="faq-section">
            <p class="section-title">Common Questions</p>
            <div class="button-group">
                <form action="/FAQ1" method="POST">
                    <input type="submit" value="Factors for Profit">
                </form>
            </div>
        </div>

        <div class="faq-section">
            <p class="section-title">Not found your question?</p>
            <p>Enter a keyword or topic, and we will search Wikipedia for you:</p>
            <form action="/FAQinput" method="POST">
                <input type="text" name="q" placeholder="Enter your question or keyword">
                <div class="button-group">
                    <input type="submit" value="Search Wikipedia">
                </div>
            </form>
        </div>

        <div class="back-to-main-button">
            <form action="/main" method="POST">
                <input type="submit" value="Back to Main">
            </form>
        </div>
    </div>
</body>
</html>
