<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>FAQ</title>
</head>
<body>
    <div class="container">
        <h2>FAQ</h2>

        <p>Gemini</p>
        <div class="button-group">
            <form action="/FAQ1" method="POST">
                <input type="submit" value="Factors for Profit">
            </form>
        </div>

        <p>Or input your question - Wikipedia</p>
        <form action="/FAQinput" method="POST">
            <input type="text" name="q" placeholder="Enter your question">
            <div class="button-group">
                <input type="submit" value="Enter">
            </div>
        </form>

        <div class="button-group">
            <form action="/main" method="POST">
                <input type="submit" value="Back to Main">
            </form>
        </div>
    </div>
</body>
</html>
