<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Predict Food Expenditure</title>
</head>
<body>
    <div class="container">
        <h2>Predict Food Expenditure</h2>

        <!-- 输入框和预测按钮 -->
        <div style="margin-bottom: 20px;">
            <input type="number" id="salary" placeholder="Enter Salary">
            <button class="btn" onclick="predict_foodexp()">Enter</button>
        </div>

        <!-- 显示预测结果 -->
        <div style="margin-bottom: 20px;">
            <p id="foodexp"></p>
        </div>
        
        <!-- 返回主页 -->
        <div class="back-to-main-button">
            <form action="/main" method="POST">
                <input type="submit" value="Back to Main">
            </form>
        </div>
    </div>

    <script>
        function predict_foodexp() {
            const salary = document.getElementById("salary").value;
            document.getElementById("foodexp").innerText = 
                "Predicted Food Expenditure: " + ((salary * 0.4851) + 147.4).toFixed(2);
        }
    </script>
</body>
</html>
